.image {
    margin: 0;
    padding: 0;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.image.top {
  z-index: 2;
  object-fit: contain;
}
.image.bottom {
  z-index: 1;
  object-fit: cover;
  filter: blur(5px);
}